<body>
  {{{body}}}
<h1>New Listing</h1>
<form method="POST" action='/listings'>
<p>
Title:
</p>
<p>
<input type="text" id="name" name="title">
</p>
<p>
Description:
</p>
<p>
<input type="text" id="description" name="description">
<input type="submit" value="Submit">
</p>
</form>
</body>
