
  <div class="background-image">

  <div class="header">
    <h1 class="h1">Gangify</h1>
  </div>

  <div>
    <h4 class="sub-title">Don't have a patch?</h4>
  </div>  

  <div>
    <a href="http://localhost:3000/listings"><button class="button1" type="button">VIEW LISTING</button></a>
  </div>

  <div>
    <a href="http://localhost:3000/form"><button class="button2" type="button">CREATE LISTING</button></a>
  </div>
</div>